Screen {
    layout: horizontal;
}

#left_panel {
    width: 2fr;
}

#middle_panel {
    width: 1fr;
}

#right_panel {
    width: 3fr;
    border: round green;
    align-horizontal: center;
}

#control_box {
    width: 100%;
    border: round yellow;
}

#project_input_row, #treatment_input_row {
    width: 1fr;
    height: auto;
}

#project_input, #treatment_input {
    width: 1fr;
    border: heavy $accent;
}

#confirm_project, #confirm_treatment {
    min-width: 50%;
    width: 50%;
    height: auto;
}

#run_input_row {
    width: 1fr;
    height: auto;
}

#run_input {
    min-width: 25%;
    width: 50%;
    border: heavy $accent;
    content-align: center middle;
}

#inc_button, #dec_button {
    min-width: 25%;
    height: auto;
    content-align: center middle;
}

#buttons_row {
    width: 100%;
    height: auto;
}

#run_button, #cancel_button, #exit_button, #scan_button {
    min-width: 25%;
}

#export_data_button {
    min-width: 100%;
}

#project_box {
    width: 1fr;
    padding: 1;
    border: round gray;
}

#treatment_box {
    width: 1fr;
    padding: 1;
    border: round gray;
}

#reading_log {
    height: 100%;
    width: 100%;
    overflow: auto;
    scrollbar-color: gray;
}

#plot_box {
    border: round white;
    padding: 1;
    min-height: 60%;
}

#plot {
    height: 100%;
    width: 100%;
}


