Screen {
    layout: horizontal;
}

#left_panel {
    width: 2fr;
    padding: 1;
    border: round yellow;
}

#treatment_panel {
    width: 1fr;
    padding: 1;
    border: round gray;
}

#right_panel {
    width: 3fr;
    border: round green;
    align-horizontal: center;
}

#treatment_input {
    width: 100%;
    border: heavy $accent;
}

#run_button, #cancel_button, #exit_button {
    width: 25%;
    margin-top: 0;
    min-width: 10;
    height: auto;
}

#reading_log {
    height: 100%;
    width: 100%;
    overflow: auto;
    scrollbar-color: gray;
}

#plot_box {
    border: round white;
    padding: 1;
    min-height: 60%;
}

#plot {
    height: 100%;
    width: 100%;
}

#run_input_row {
    width: 1fr;
    height: auto;
}

#run_input {
    width: 50%;
    border: heavy $accent;
}

#inc_button, #dec_button {
    min-width: 5;
    height: auto;
    content-align: center middle;
}